<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Signifly Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="SHOPIFY_API_KEY" value="" />
        <env name="SHOPIFY_PASSWORD" value="" />
        <env name="SHOPIFY_HANDLE" value="" />
    </php>
    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>
</phpunit>
